* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
background: url('https://images.unsplash.com/photo-1518770660439-4636190af475') no-repeat center center fixed;
  background-size: cover;
  color: #333;
}



header, footer {
  background-color: #0e3257;
  color: white;
  text-align: center;
  padding: 20px;
}

nav {
  background-color: #34495e;
  display: flex;
  justify-content: center;
  padding: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #028168;
}

main {
  padding: 30px;
  max-width: 900px;
  margin: 20px auto;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


